
div#model
{
	position: relative;
	width: 800px;
}

div#parameters
{
	text-align: left;
	position: absolute;
	left: 525px;
	bottom: 0px;
}

span.value
{
	text-align: right;
}

div#placeholder
{
	width: 500px;
}
form#input
{
	text-align: right;
}